<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/" style="color: #152baa">Homepage</a>  <a href="/getNewBook" style="color: #152baa">New Book</a> <a href="/getListBooks"style="color: #152baa">List Books</a> <a href="/updateBooks"style="color: #152baa">Update Books</a> <a href="/getSummary"style="color: #152baa">Summary by Title</a>  
    <h1>Delete All Books by a Topic</h1></br>
    <form action='/postdeletebooks' method="POST">
    Topic: <input type="text"  name="topic" /> </br>
    <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>