<html>
        <head>
            <link rel="stylesheet" href="style.css">
        </head>
<body>
    <a href="/" style="color: #152baa">Homepage</a>  <a href="/getNewBook" style="color: #152baa">New Book</a> <a href="/getListBooks"style="color: #152baa">List Books</a> <a href="/deleteBooks"style="color: #152baa">Delete Books</a> <a href="/getSummary"style="color: #152baa">Summary by Title</a>  
    <h1>Update Book Details</h1></br>
</br>
    <form action="/updatebooksdata" method="POST">
        Book's Old Title <input type="text"  name="titleold"/> </br>
        Book's New Title <input type="text"  name="titlenew"/> </br>
        Book's New Author <input type="text" name="authornew" /> </br>
        Book's New Topic <input type="text" name="topicnew" /> </br>
        Book's New Date of Publication <input type="date" name="DOPnew" /> </br>
        Book's New Summary <input type="text" name="summarynew" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>